@charset "EUC-KR";
#inputSch {
  background-image: url('../../public/icon/icons-search-24.png'); 
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 15px; 
  padding: 12px 20px 12px 40px;
  border: 1px solid #bfcdda; 
  margin-bottom: 12px; 
}
#tableUserList th {
	cursor: pointer;
}

#tableUserList {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

#tableUserList td{
	display: table-cell;
	overflow: hidden;
	text-overflow: ellipsis;
}
.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}
.pagination a.active {
	background-color: dodgerblue;
	color: white;
}
.pagination a:hover:not(.active) {
	background-color: #ddd;
}
/* datapicker*/
.ui-datepicker-trigger{
	cursor: pointer;
}
.hasDatepicker{
	cursor: pointer;
}
/* 리소스 관리 */
#tableRsrcList th {
	cursor: pointer;
}
/* 일별 판매 내역 */
#tableDailySalesList th:nth-child(n+2) {
	text-align: right;
}
#tableDailySalesList td:nth-child(n+2) {
	text-align: right;
}
#tableDailySalesList tr:not(.titleRow):not(.totalColumn) {
	cursor: pointer;
}
#tableDailySalesList tr.totalColumn {
	/*text-align: center;*/
	font-weight: bold;
}
#tableDailySalesByDate th:nth-child(n+3) {
	text-align: right;
}
#tableDailySalesByDate td:nth-child(n+3) {
	text-align: right;
}
#tableDailySalesByDate tr:not(.titleRow):not(.totalColumn) {
	cursor: pointer;
}
#tableDailySalesByDate tr.totalColumn {
	/*text-align: center;*/
	font-weight: bold;
}
#tableDailySalesByType th:nth-child(n+3) {
	text-align: right;
}
#tableDailySalesByType td:nth-child(n+3) {
	text-align: right;
}
#tableDailySalesByType tr:not(.titleRow):not(.totalColumn) {
	cursor: pointer;
}
#tableDailySalesByType tr.totalColumn {
	/*text-align: center;*/
	font-weight: bold;
}
#tableDailySalesByTypeDetail th:nth-child(n+2) {
	text-align: right;
}
#tableDailySalesByTypeDetail td:nth-child(n+2) {
	text-align: right;
}
#tableDailySalesByTypeDetail tr.totalColumn {
	/*text-align: center;*/
	font-weight: bold;
}

/* dialog */
.ui-dialog .ui-dialog-titlebar-close {
	border: none;
	background-color: transparent;
	cursor: none;
}