@charset "EUC-KR";
#inputSch {
  background-image: url('../../public/icon/icons-search-24.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 15px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #bfcdda; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
#tableUserList th {
	cursor: pointer;
}

#tableUserList {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

#tableUserList td{
	display: table-cell;
	overflow: hidden;
	text-overflow: ellipsis;
}
.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}
.pagination a.active {
	background-color: dodgerblue;
	color: white;
}
.pagination a:hover:not(.active) {
	background-color: #ddd;
}
/* datapicker*/
.ui-datepicker-trigger{
	cursor: pointer;
}
.hasDatepicker{
	cursor: pointer;
}
